@charset "UTF-8";

/* Pretendard 웹폰트 적용 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "SF_HambakSnow";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 100%;
  --main-color: #087c31;
  --title-color: #01290f;
  --text-color: #444;
  --point-color: #f5f4ee;
}

/* GSAP ScrollSmoother 설정 */
html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  overflow: visible;
  width: 100%;
}

/* ---------------------------공통 적용 */

.inner {
  width: 1640px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 26px;
}

p {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit; /* 상속 */
}

/* a:hover {
  text-decoration: none;
  color: var(--main-color);
} */

body {
  font-family: "SF_HambakSnow";
  line-height: 1.5;
  color: var(--text-color);
  background: #fff;
  text-transform: capitalize; /* ttc: 단어 첫번째 글자를 대문자로 */
  height: 100%;
  overflow-x: hidden;
}

hr,
.hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  clip-path: inset(100%);
}
